body {
	background-color: #fb5;
	margin: 0px;
}

.declare {
	background-image: url("mibimage.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat no-repeat;
	height: 800px;
	text-align: center;
	font-size: 2em;
}

h1 {
	margin: 0px;
}