body {
	background: url("mibimage.jpg") no-repeat center center fixed;
  	background-size: cover;
	margin: 0px;
	position: relative;
}

.center, .center-contact {
	font-size: 2em;
    width: 70%;
    float: right;
    color: #7f1005;
    text-shadow: 1px 1px 2px #F61;
}

.center {
	text-align: center;
	padding: 280px 0;
}

.center-contact {
	padding: 60px 0;
}

.introduction {
	text-align: center;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 100vh;
	text-align: center;
	font-size: 40px;
	background-color: rgba(200,200,200,0.1);
	transition: background-color .5s, box-shadow .5s;
}

.menu:hover {
	background-color: rgba(235,160,105,0.8);
	box-shadow: 1px 0px 6px #222;
}

.menu ul {
	list-style-type: none;
	padding: 280px 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin: 0px;
}

.peppe, .danilo {
	width: 90%;
	height: 150px;
	margin: 0 auto;
	background-color: rgba(235,160,105,0.7);
	margin-top: 30px;
}

.peppe {
	border-top-right-radius: 70px;
	border-bottom-right-radius: 70px; 
}

.danilo {
	text-align: right;
	border-top-left-radius: 70px;
	border-bottom-left-radius: 70px;
}

.peppe img, .danilo img {
	width: 125px;
	height: 150px;
}

.peppe img {
	float: left;
	padding-right: 10px;
}

.danilo img {
	float: right;
	padding-left: 10px;
}

.contacts {
	font-size: .6em;
}

.contacts p {
	color: black;
	text-shadow: none;
	font-size: .9em;
	padding-left: 10px;
}